{
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 1024,
        "tabWidth": 4,
        "useTabs": true,
        "htmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "printWidth": 512,
        "tabWidth": 4,
        "useTabs": true,
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
