<!-- Customizer offcanvas -->
<div class="offcanvas offcanvas-end" id="customizer" data-bs-scroll="true" tabindex="-1">
	<div class="offcanvas-header border-bottom">
		<h4 class="offcanvas-title">
			Almondcove
			<span class="text-danger fs-xs ms-2">0.7.0</span>
		</h4>
		<button class="btn-close" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<div class="d-flex align-items-center mt-n2 mb-3">
			<i class="ai-maximize text-body-secondary fs-5 me-2"></i>
			<h5 class="mb-0">Updates</h5>
		</div>
		<label class="d-flex w-100 text-mute fs-sm fw-medium pt-1 mb-4" for="border-width">coming soon</label>
		<div class="d-flex align-items-center mt-n2 mb-3">
			<i class="ai-maximize text-body-secondary fs-5 me-2"></i>
			<h5 class="mb-0">Themes</h5>
		</div>
		<div class="mb-4">
			<label class="d-flex w-100 text-mute fs-sm fw-medium pt-1 mb-2" for="border-width">coming soon: color schemes</label>
		</div>
		<div class="d-flex align-items-center mt-n2 mb-3">
			<i class="ai-maximize text-body-secondary fs-5 me-2"></i>
			<h5 class="mb-0">Accessibility</h5>
		</div>
		<div class="mb-4">
			<label class="d-flex w-100 text-mute fs-sm fw-medium pt-1 mb-2" for="border-width">coming soon: font size, font family</label>
		</div>
		<div class="mt-4 d-flex align-items-center mt-n2 mb-3">
			<i class="ai-maximize text-body-secondary fs-5 me-2"></i>
			<h5 class="mb-0">External links</h5>
		</div>
		<!-- <div class="mb-3 mt-3">
			<div><a href="https://almondcove.in" target="_blank">almondcove.in</a></div>
			<div><a href="https://assambrew.com" target="_blank">assambrew.in</a></div>
			<div><a href="https://laymaann.in" target="_blank">laymaann.in</a></div>
			<div><a routerLink="/theme">theme</a></div>
		</div> -->
	</div>
</div>

<!-- Customizer toggler -->
<a class="position-fixed top-50 bg-light text-dark fw-medium border rounded-pill shadow text-decoration-none" href="#customizer" data-bs-toggle="offcanvas" style="right: -1.25rem; margin-top: -1rem; padding: 0.25rem 0.75rem; transform: rotate(-90deg); font-size: calc(var(--ar-body-font-size) * 0.8125); letter-spacing: 0.075rem; z-index: 1030">
	<i class="ai-settings text-primary fs-base me-1 ms-n1"></i>
	Panel
</a>
