<section class="container pt-5 pb-lg-2 pb-xl-4 py-xxl-5 my-5">
    <nav aria-label="breadcrumb">
        <ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/" data-aos="flip-down" data-aos-duration="500">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page" data-aos="flip-down" data-aos-duration="900">Contact</li>
        </ol>
    </nav>

    <div class="row pb-1 pb-sm-3 pb-lg-4">
        <div class="col-lg-4 pe-xxl-4">
            <h1 class="display-2" data-aos="flip-up" data-aos-duration="200">Contact</h1>
            <p class="fs-lg pb-4 mb-0 mb-sm-2" data-aos="flip-up" data-aos-duration="500">
                Got suggestions,ideas? ping me up with this form or mail me at <a href="mailto:mail@almondcove.com" class="text-primary">maail&#64;almondcove.in</a>
            </p>
        </div>
        <div class="col-lg-8 col-xl-7 offset-xl-1">
            <form class="row g-4 needs-validation" (ngSubmit)="onSubmit()" [formGroup]="messageForm">
                <div class="col-sm-6">
                    <label class="form-label fs-base" for="name">Name</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Your name" required id="name" formControlName="name" name="name"/>
                </div>

                <div class="col-sm-6">
                    <label class="form-label fs-base" for="topic">Topic</label>
                    <select class="form-select form-select-lg" id="yopic" formControlName="topic" name="topic">
                        <option value="general" selected>General</option>
                        <option value="feature">Feature Request</option>
                        <option value="feedback">Feedback/Report</option>
                    </select>
                </div>

                <div class="col-sm-12">
                    <label class="form-label fs-base" for="email">Email</label>
                    <input class="form-control form-control-lg" type="email" placeholder="Email address" required formControlName="email" name="email" />
                </div>

                <div class="col-sm-12">
                    <label class="form-label fs-base" for="message">Message</label>
                    <textarea class="form-control form-control-lg" rows="5" placeholder="Enter your message here..." required id="message"  name="message" formControlName="content"></textarea>
                </div>

                <div class="col-sm-12 pt-2">
                    <!-- <button
                        class="btn btn-lg btn-primary"
                        type="submit"
                        [disabled]="contactForm.invalid"
                    > -->
                    <button class="btn btn-lg btn-primary" type="submit">
                        <span *ngIf="isLoading">
                            <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
                            Loading...
                        </span>
                        <span *ngIf="!isLoading">Send</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>