<!-- Contact details -->
<section class="bg-secondary py-5">
	<div class="container pt-5 pb-lg-2 pb-xl-4 py-xxl-5">
		<!-- Breadcrumb -->
		<nav aria-label="breadcrumb">
			<ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
				<li class="breadcrumb-item"><a routerLink="/">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Attributions</li>
			</ol>
		</nav>

		<!-- Page title -->
		<h1 class="display-2">Attributions</h1>
		<p class="fs-lg pb-4 mb-2 mb-sm-3">Obviously i did'nt design make everything would have taken one extra decade</p>

		<!-- Details cards -->
		<div class="row row-cols-1 row-cols-sm-1 row-cols-xl-2 g-4 pb-2 pb-sm-4 pb-lg-5">
			<!-- Address -->
			<div class="col">
				<div class="card border-0 h-100">
					<div class="card-body">
						<h4 class="card-title mb-4">UI</h4>
						<p class="fs-lg fw-medium pb-3 mb-3">Used official bootstrap theme called 'Around'</p>
						<a class="btn btn-sm btn-outline-primary" href="https://themes.getbootstrap.com/product/around-multipurpose-template-ui-kit/" target="_blank">
							<i class="ai-link me-2"></i>
							Visit
						</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card border-0 h-100">
					<div class="card-body">
						<h4 class="card-title mb-4">Vendor</h4>
						<ul class="list-unstyled mb-0">
							<li class="pb-1 mb-2">
								<span class="d-block fs-sm text-body-secondary mb-1">UI Kit / Templates</span>
								<a class="nav-link fs-lg p-0" href="mailto:office@example.com"></a>
							</li>
							<li>
								<span class="d-block fs-sm text-body-secondary mb-1">Testing</span>
								<a class="nav-link fs-lg p-0" href="#">Pepe</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card border-0 h-100">
					<div class="card-body">
						<h4 class="card-title mb-4">Contributions</h4>
						<ul class="list-unstyled mb-0">
							<li class="pb-1 mb-2">
								<span class="d-block fs-sm text-body-secondary mb-1">Assets and ideas</span>
								<a class="nav-link fs-lg p-0" href="mailto:office@example.com">officeexample.com</a>
							</li>
							<li>
								<span class="d-block fs-sm text-body-secondary mb-1">Testing</span>
								<a class="nav-link fs-lg p-0" href="#">Pepe</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- Email -->
			<div class="col">
				<div class="card border-0 h-100">
					<div class="card-body">
						<h4 class="card-title mb-4">Email</h4>
						<ul class="list-unstyled mb-0">
							<li class="pb-1 mb-2">
								<span class="d-block fs-sm text-body-secondary mb-1">Main office</span>
								<a class="nav-link fs-lg p-0" href="mailto:office@example.com">officeexample.com</a>
							</li>
							<li>
								<span class="d-block fs-sm text-body-secondary mb-1">Reception room</span>
								<a class="nav-link fs-lg p-0" href="mailto:reception@example.com">receptionxample.com</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="height: 250px"></div>
</section>
