<!-- hero -->
<!-- Hero -->
<section class="bg-primary bg-opacity-10 d-flex min-vh-100 overflow-hidden py-5">
	<div class="container d-flex justify-content-center pb-sm-3 py-md-4 py-xl-5">
		<div class="row align-items-center pt-5 mt-4 mt-xxl-0">
			<!-- Video + Parallax -->
			<div class="col-lg-6 mb-4 mb-lg-0 pb-3 pb-lg-0">
				<div class="parallax mx-auto mx-lg-0" style="max-width: 582px">
					<div class="parallax-layer z-3" data-depth="0.1">
						<div class="position-relative bg-dark mx-auto" style="max-width: 61%; padding: 0.3125rem; margin-bottom: 9.9%; border-radius: calc(var(--ar-border-radius) * 2.125)">
							<div class="position-absolute start-50 translate-middle-x" style="top: 4.4%; width: 85%">
								<div class="row row-cols-4 gx-2 mb-3">
									<div class="col">
										<div class="border-white border opacity-80"></div>
									</div>
									<div class="col">
										<div class="border-white border opacity-80"></div>
									</div>
									<div class="col">
										<div class="border-white border opacity-80"></div>
									</div>
									<div class="col position-relative">
										<div class="position-absolute top-0 start-0 w-100 border-white border opacity-30"></div>
										<div class="position-absolute top-0 start-0 w-50 border-white border opacity-80"></div>
									</div>
								</div>
								<div class="d-flex align-items-center">
									<img class="rounded-circle" src="assets/images/home/avatar.jpg" width="35" alt="Avatar" />
									<div class="fs-xs ps-2" data-bs-theme="light">
										<span class="text-nav fw-bold me-1">jsm33t</span>
										<span class="text-body-secondary">12 min</span>
									</div>
								</div>
							</div>
							<video class="d-block w-100" autoplay loop muted style="border-radius: calc(var(--ar-border-radius) * 1.875)">
								<source src="assets/images/home/video.mp4" type="video/mp4" />
							</video>
						</div>
					</div>
					<div class="parallax-layer" data-depth="0.3">
						<img src="assets/images/home/shape01.svg" alt="Background shape" />
					</div>
					<div class="parallax-layer z-2" data-depth="-0.1">
						<img src="assets/images/home/shape02.svg" alt="Background shape" />
					</div>
					<div class="parallax-layer" data-depth="-0.15">
						<img src="assets/images/home/shape03.svg" alt="Background shape" />
					</div>
					<div class="parallax-layer z-2" data-depth="-0.25">
						<img src="assets/images/home/shape04.svg" alt="Background shape" />
					</div>
				</div>
			</div>
      <div class="col-lg-6 pb-5 mb-5 text-center text-lg-start">
				<h1 class="display-2" data-aos="flip-up" data-aos-offset="0" data-aos-duration="200" data-aos-once="true">
					<span class="fw-normal">
						Almond
						<code>COVE</code>
					</span>
				</h1>
				<div class="col-12 pb-3">
					<p class="mb-3 mx-3" data-aos="fade" data-aos-duration="500" data-aos-offset="0" data-aos-once="true">I don't feel particularly proud of myself. But when I walk alone in the woods or lie in the meadows, all is well.</p>
				</div>
				<div class="d-sm-flex justify-content-center justify-content-lg-start mt-lg-2">
					<a class="btn btn-lg btn-primary w-100 w-sm-auto mb-2 mb-sm-0 me-sm-1" routerLink="/about">About</a>
					<a class="btn btn-lg btn-link" routerLink="/about/contact">
						Get in touch
						<i class="ai-arrow-right ms-2"></i>
					</a>
				</div>
			</div>
			<!-- <div class="col-lg-6 text-center text-lg-start">
			
        <h1 class="display-2 pb-3 mb-4" data-aos="flip-up" data-aos-offset="0" data-aos-duration="200" data-aos-once="true">
					<span class="fw-normal">
						Almond
						<code>COVE</code>
					</span>
				</h1>
				<div class="row row-cols-3">
					<div class="col">
						<i class="ai-bulb-alt d-block fs-1 text-dark mb-2 pb-1"></i>
						<p class="mb-0">Individual approach to the brand</p>
					</div>
					<div class="col">
						<i class="ai-rocket d-block fs-2 text-dark mb-3"></i>
						<p class="mb-0">We guarantee the result after a month</p>
					</div>
					<div class="col">
						<i class="ai-circle-check-filled d-block fs-3 text-dark mb-3"></i>
						<p class="mb-0">Completing tasks exactly on time</p>
					</div>
				</div>
				<div class="d-sm-flex justify-content-center justify-content-lg-start pt-5 mt-lg-2">
					<a class="btn btn-lg btn-primary w-100 w-sm-auto mb-2 mb-sm-0 me-sm-1" href="#">Get in touch</a>
					<a class="btn btn-lg btn-link" href="#">
						Our case studies
						<i class="ai-arrow-right ms-2"></i>
					</a>
				</div>
			</div> -->
		</div>
	</div>
</section>

<!-- <section class="container pt-5 pb-4 mb-2 my-lg-3 my-xl-4 my-xxl-5"> 
  <div
    class="row justify-content-center pt-2 pt-sm-3 pt-md-4 mt-lg-2 pb-lg-2 pb-xl-0"
  >
    <div class="col-sm-11 col-md-9 col-lg-8 col-xl-7 col-xxl-6 text-center">
      <h2 class="h1 mb-0">
        Almondcove, a digital webspace by <a href="https://jassi.me" target="_blank">jass</a>
      </h2>
    </div>
  </div>

  <div
    class="row align-items-center py-4 py-lg-5 my-sm-2 my-md-4 my-lg-0 my-xl-2 my-xxl-4"
    data-aos="fade-up"
    data-aos-duration="600"
    data-aos-offset="300"
    data-disable-parallax-down="md"
  >
    <div
      class="col-md-6 pt-xl-2 offset-xl-1 order-md-2 pb-3 pb-md-0 mb-3 mb-sm-4 mb-md-0"
    >
      <img
        class="d-dark-mode-none"
        src="assets/img/landing/saas-1/features/02-light.png"
        width="636"
        alt="Image"
      />
      <img
        class="d-none d-dark-mode-block"
        src="assets/img/landing/saas-1/features/02-dark.png"
        width="636"
        alt="Image"
      />
    </div>
    <div
      class="col-md-6 col-xl-5 order-md-1 pt-xl-2"
      data-aos="fade-up"
      data-aos-duration="850"
      data-aos-offset="200"
      data-disable-parallax-down="md"
    >
      <div class="pe-md-3 pe-xl-0">
        <span
          class="badge bg-primary bg-opacity-10 text-primary fs-sm mb-3 mb-lg-4"
          >Blogs</span
        >
        <h3 class="h2 mb-lg-4">
          Blogs
        </h3>
        <p class="mb-0">
          Blogs about tech, life, pets, moveis,series and my exploration memoirs.
          Join me as I explore
        </p>
      </div>
    </div>
  </div>

 
  <div
    class="row align-items-center py-4 py-lg-5 my-sm-2 my-md-4 my-lg-0 my-xl-2 my-xxl-4"
    data-aos="fade-up"
    data-aos-duration="600"
    data-aos-offset="300"
    data-disable-parallax-down="md"
  >
    <div class="col-md-6 pt-xl-2 pb-3 pb-md-0 mb-3 mb-sm-4 mb-md-0">
      <img
        class="d-dark-mode-none"
        src="assets/img/landing/saas-1/features/03-light.png"
        width="636"
        alt="Image"
      />
      <img
        class="d-none d-dark-mode-block"
        src="assets/img/landing/saas-1/features/03-dark.png"
        width="636"
        alt="Image"
      />
    </div>
    <div
      class="col-md-6 col-xl-5 offset-xl-1 pt-xl-2"
      data-aos="fade-up"
      data-aos-duration="850"
      data-aos-offset="200"
      data-disable-parallax-down="md"
    >
      <div class="ps-md-3 ps-xl-0">
        <span
          class="badge bg-primary bg-opacity-10 text-primary fs-sm mb-3 mb-lg-4"
          >Studio</span
        >
        <h3 class="h2 mb-lg-4">
          Music- Bootlegs and original mixes
        </h3>
        <ul class="list-unstyled mb-0">
          <li class="d-flex pt-1 mt-2">
            <i class="ai-check-alt text-primary fs-4 mt-n1 me-2"></i>
            Segmenting the audience is easy and simple
          </li>
          <li class="d-flex pt-1 mt-2">
            <i class="ai-check-alt text-primary fs-4 mt-n1 me-2"></i>
            Functional dashboard for managing your data
          </li>
          <li class="d-flex pt-1 mt-2">
            <i class="ai-check-alt text-primary fs-4 mt-n1 me-2"></i>
            Key performance indicators of team interaction
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div
    class="row align-items-center py-4 py-lg-5 my-sm-2 my-md-4 my-lg-0 my-xl-2 my-xxl-4"
    data-aos="fade-up"
    data-aos-duration="600"
    data-aos-offset="300"
    data-disable-parallax-down="md"
  >
    <div
      class="col-md-6 offset-xl-1 order-md-2 pb-3 pb-md-0 mb-3 mb-sm-4 mb-md-0"
    >
      <img
        class="d-dark-mode-none"
        src="assets/img/landing/saas-1/features/04-light.png"
        width="636"
        alt="Image"
      />
      <img
        class="d-none d-dark-mode-block"
        src="assets/img/landing/saas-1/features/04-dark.png"
        width="636"
        alt="Image"
      />
    </div>
    <div
      class="col-md-6 col-xl-5 order-md-1"
      data-aos="fade-up"
      data-aos-duration="850"
      data-aos-offset="200"
      data-disable-parallax-down="md"
    >
      <div class="pe-md-3 pe-xl-0">
        <span
          class="badge bg-primary bg-opacity-10 text-primary fs-sm mb-3 mb-lg-4"
          >Segmentation</span
        >
        <h3 class="h2 mb-lg-4">
          Segmentation of the audience using different methods
        </h3>
        <p class="mb-0">
          Facilisi eu neque amet, orci tellus nibh amet tincidunt nunc, feugiat
          arcu vulputate duis. Quis odio mauris, in sed pharetra velit egestas
          risus purus tincidunt. Nisl in enim, gravida risus enim risus non et
          in iaculis non facilisis eget blandit id vulputate.
        </p>
      </div>
    </div>
  </div>
</section> -->
